body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/00103100-5b45-4d4f-af32-342649f1bda5/64774cd8-5c3a-4823-a0bb-1610d6971bd4/IN-en-20230821-popsignuptwoweeks-perspective_alpha_website_large.jpg'); /* Replace with your image path */
    background-size: 120%; /* Adjust the scaling as needed */
    background-position: center left; /* Adjust the position */
    color: #fff;
  }
  
  .header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: left; /* Align the Netflix logo to the left */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #f40612;
  }
  